{% extends 'base.html' %}
{% load static %}

{% block body %}
    <header class="page-header">
        <div class="video-bg">
            <video src="https://sheltersearch.b-cdn.net/video.mp4" autoplay muted loop></video>
        </div>
        <!-- end video-bg -->
        <div class="inner">
            <h2 data-text="DIGITAL SOLUTIONS">DIGITAL SOLUTIONS</h2>
            <p>Your Gateway to an elevated Digital Presence!</p>
        </div>
        <!-- end inner -->
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="scroll-down"><b>SCROLL DOWN</b><span></span></div>
        <!-- end scroll-down -->
    </header>
    <!-- end page-header -->
    <div class="page-header-spacing"></div>
    <!-- end page-header-spacing -->
    <main>
        <section class="news">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="post post-single wow fadeIn">
                            <figure class="post-image"><img src="{% static 'assets/images/digital_solutions.webp' %}"
                                                            alt="Image">
                            </figure>
                            <div class="post-content">
                                {#         	<div class="author">#}
                                {#          	<img src="{% static 'assets/images/avatar01.jpg' %}" alt="Image">#}
                                {#          	<span>by <b>Jack Daniels</b></span>#}
                                {#          </div>#}
                                <!-- end author -->
                                {#         		<ul class="post-categories">#}
                                {#         		<li><a href="#">Development</a></li>#}
                                {#         		<li><a href="#">WordPress</a></li>#}
                                {#         		<li><a href="#">Design</a></li>#}
                                {#         		</ul>#}
                                <h2 class="post-title">Your Gateway to an elevated Digital Presence!</h2>
                                {#          <small class="post-date">February 21,2018</small>#}
                                <ul class="social-share">
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    {#			<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                                    <li class="google-plus"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    {#			<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                                    {#			<li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
                                </ul>

                                <p style="color: black;" class="text-center">Many firms can build you a website, Mobile
                                    App, Digital and Social media presence. But what about crafting a great Digital
                                    Experience?</p>
                                <p style="color: black;" class="text-center">With expertise across every platform, every
                                    device, and every manner to communicate and connect with audiences online. We'll
                                    help you understand the complexity of our ever-changing digital world and simplify
                                    it for optimal impact. We create engaging content, use consumer insights to connect
                                    with your customers, build your brand, drive commerce and craft digital first
                                    experiences to help you create sustainable influence for engaging your audience and
                                    energising your organisation to thrive and grow.</p>
                                <p style="color: black;" class="text-center">Explore our Digital Marketing Services &
                                    embrace the Digital First approach to transform your brand.</p>
                                <blockquote>
                                    <h4>We Craft Digital Experiences
                                        That's What We Do!</h4>
                                    <h5>BrandXPT</h5>
                                </blockquote>

                                <p style="color: black" class="text-center">At BrandXPT, our <strong>Digital Solutions</strong> are more than services; they are
                                    the building blocks of a powerful and lasting digital presence. Partner with us to
                                    navigate the ever-evolving digital realm, and let your brand shine in the online
                                    spotlight. Elevate your digital presence with BrandXPT, where innovation meets
                                    impact.</p>

                            </div>
                            <!-- end post-content -->
                        </div>
                        <!-- end post -->
                    </div>
                    <!-- end col-10 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <section class="features-content">
            <div class="container">
                <div class="row">
                                        <div class="col-lg-12 fadeInLeft  text-center">
                                            <h3 style="padding: 20px 10px 10px 10px;">DIGITAL SERVICES</h3>
                                        </div> 
                    <!-- end col-5 -->
                    <div class="col-lg-12">
                        <div class="row inner text-center">
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon01.png' %}"
                                                                    alt="Image">
                                <h4>SOCIAL MEDIA MARKETING</h4>
                                <p>Customers are more engaged than
                                    ever before, thanks to Social Media that
                                    gives them direct access to businesses.</p>
                            </div>
                            <!-- end col-4 -->
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon02.png' %}"
                                                                    alt="Image">
                                <h4>SEARCH ENGINE OPTIMIZATION</h4>
                                <p>If you regularly use Google then you've
                                    probably realised that when you search
                                    for something you don't typically scroll.</p>
                            </div>
                            <!-- end col-4 -->
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon03.png' %}"
                                                                    alt="Image">
                                <h4>DIGITAL MEDIA PLANNING</h4>
                                <p>Despite the advances in targeting and
                                    segmentation, there is a lot of 'noise'
                                    digitally, distracting the online users.</p>
                            </div>
                            <!-- end col-4 -->
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon02.png' %}"
                                                                    alt="Image">
                                <h4>VIDEO CONTENT CREATION</h4>
                                <p>Faster data speed, upgraded smartphones
                                    and the rise of content distribution
                                    network (CDN) have changed the way.</p>
                            </div>
                            <!-- end col-4 -->
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon03.png' %}"
                                                                    alt="Image">
                                <h4>CONTENT MARKETING</h4>
                                <p>In the age of Digital, there is so much
                                    content being created every minute
                                    that even great content can be lost in.</p>
                            </div>
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon03.png' %}"
                                                                    alt="Image">
                                <h4>DIGITAL STRATEGY CONSULTING</h4>
                                <p>Have an in-house Digital Team?
                                    Unable to get the best out of your
                                    Digital Agency? Finding it difficult.</p>
                            </div>
                            <div class="col-md-4 wow fadeInUp"><img src="{% static 'assets/images/icon03.png' %}"
                                                                    alt="Image">
                                <h4>INFLUENCER CAMPAIGNS</h4>
                                <p>Our extensive network of Instagrammers,
                                    YouTubers, bloggers and celebrities
                                    can be drawn up to act as brand.</p>
                            </div>
                            <!-- end col-4 -->
                        </div>
                        <!-- end row inner -->
                    </div>
                    <!-- end col-7 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end news -->
        {% include 'footer.html' %}
    </main>
{% endblock %}