{% extends 'base.html' %}
{% load static %}

{% block body %}
    <header class="page-header">
        <div class="video-bg">
            <video src="https://sheltersearch.b-cdn.net/video.mp4" autoplay muted loop></video>
        </div>
        <!-- end video-bg -->
        <div class="inner">
            <h2 data-text="DIGITAL SOLUTIONS">DIGITAL SOLUTIONS</h2>
            <p>Your Gateway to an elevated Digital Presence!</p>
        </div>
        <!-- end inner -->
        <ul class="social-media">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="scroll-down"><b>SCROLL DOWN</b><span></span></div>
        <!-- end scroll-down -->
    </header>
    <!-- end page-header -->
    <div class="page-header-spacing"></div>
    <!-- end page-header-spacing -->
    <main>
        <section class="news">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="post post-single wow fadeIn">
                            <figure class="post-image"><img src="{% static 'assets/images/digital_solutions.webp' %}"
                                                            alt="Image">
                            </figure>
                            <div class="post-content">
                                {#         	<div class="author">#}
                                {#          	<img src="{% static 'assets/images/avatar01.jpg' %}" alt="Image">#}
                                {#          	<span>by <b>Jack Daniels</b></span>#}
                                {#          </div>#}
                                <!-- end author -->
                                {#         		<ul class="post-categories">#}
                                {#         		<li><a href="#">Development</a></li>#}
                                {#         		<li><a href="#">WordPress</a></li>#}
                                {#         		<li><a href="#">Design</a></li>#}
                                {#         		</ul>#}
                                <h2 class="post-title">Your Gateway to an elevated Digital Presence!</h2>
                                {#          <small class="post-date">February 21,2018</small>#}
                                <ul class="social-share">
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    {#			<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                                    <li class="google-plus"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    {#			<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                                    {#			<li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
                                </ul>

                                <p>In an era where online visibility is paramount, our <strong>Digital
                                    Solutions</strong> are meticulously crafted to empower your brand in the digital
                                    landscape. At BrandXPT, we understand the critical role a robust online presence
                                    plays in the success of modern businesses. Here's how our suite of services can
                                    amplify your digital footprint:</p>

                                <p><strong>1. Strategic Content Creation:</strong></p>
                                <p>Engage your audience with compelling
                                    content tailored to your brand's voice. From blog posts to captivating visuals, we
                                    create content that resonates with your audience and boosts your brand's
                                    credibility.</p>

                                <p><strong>2. Social Media Management:</strong></p>
                                <p>Harness the power of social media with
                                    our expert management services. We curate, schedule, and analyze content across
                                    platforms, fostering engagement and building a vibrant online community around your
                                    brand.</p>

                                <p><strong>3. Search Engine Optimization (SEO):</strong></p>
                                <p>Increase your brand's
                                    visibility on search engines with our SEO strategies. Our experts optimize your
                                    website, ensuring it ranks high on relevant searches and attracts organic traffic,
                                    ultimately enhancing your digital reach.</p>

                                <p><strong>4. Digital Advertising Campaigns:</strong></p>
                                <p>Leverage targeted digital
                                    advertising to reach your ideal audience. Our strategic campaigns across various
                                    platforms maximize your brand exposure, driving traffic and conversions.</p>

                                <p><strong>5. Website Design and Optimization:</strong></p>
                                <p>Your website is your digital
                                    storefront. We design visually appealing and user-friendly websites, optimizing them
                                    for performance, responsiveness, and search engines to leave a lasting impression on
                                    your online visitors.</p>

                                <p><strong>6. Email Marketing:</strong></p>
                                <p>Stay connected with your audience through
                                    personalized and impactful email campaigns. We design, execute, and analyze email
                                    strategies to nurture customer relationships and drive engagement.</p>

                                <p><strong>7. Analytics and Reporting:</strong></p>
                                <p>Gain valuable insights into your digital
                                    performance. Our analytics and reporting services provide a clear understanding of
                                    your digital landscape, helping you make informed decisions for continuous
                                    improvement.</p>

                                <p>At BrandXPT, our <strong>Digital Solutions</strong> are more than services; they are
                                    the building blocks of a powerful and lasting digital presence. Partner with us to
                                    navigate the ever-evolving digital realm, and let your brand shine in the online
                                    spotlight. Elevate your digital presence with BrandXPT, where innovation meets
                                    impact.</p>

                            </div>
                            <!-- end post-content -->
                        </div>
                        <!-- end post -->
                    </div>
                    <!-- end col-10 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end news -->
        {% include 'footer.html' %}
    </main>
{% endblock %}