{% extends 'base.html' %}
{% load static %}

{% block body %}
    <header class="page-header">
        <div class="video-bg">
            <video src="https://sheltersearch.b-cdn.net/video.mp4" autoplay muted loop></video>
        </div>
        <!-- end video-bg -->
        <div class="inner">
            <h2 data-text="ECOMMERCE SUPPORT">ECOMMERCE SUPPORT</h2>
            <p>Your Gateway to an elevated Digital Presence!</p>
        </div>
        <!-- end inner -->
        <ul class="social-media">
            <li><a href="https://www.facebook.com/brandxpt/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/brandxpt/"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="scroll-down"><b>SCROLL DOWN</b><span></span></div>
        <!-- end scroll-down -->
    </header>
    <!-- end page-header -->
    <div class="page-header-spacing"></div>
    <!-- end page-header-spacing -->
    <main>
        <section class="news">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="post post-single wow fadeIn">
                            <figure class="post-image"><img src="{% static 'assets/images/digital_solutions.webp' %}"
                                                            alt="Image">
                            </figure>
                            <div class="post-content">
                                {#         	<div class="author">#}
                                {#          	<img src="{% static 'assets/images/avatar01.jpg' %}" alt="Image">#}
                                {#          	<span>by <b>Jack Daniels</b></span>#}
                                {#          </div>#}
                                <!-- end author -->
                                {#         		<ul class="post-categories">#}
                                {#         		<li><a href="#">Development</a></li>#}
                                {#         		<li><a href="#">WordPress</a></li>#}
                                {#         		<li><a href="#">Design</a></li>#}
                                {#         		</ul>#}
                                <h2 class="post-title">Your Gateway to an elevated Digital Presence!</h2>
                                {#          <small class="post-date">February 21,2018</small>#}
                                <ul class="social-share">
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    {#			<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                                    <li class="google-plus"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    {#			<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                                    {#			<li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
                                </ul>


                                <p><strong>Welcome to BrandXPT,</strong> where we specialize in transforming your
                                    e-commerce presence into a powerful catalyst for success. In the ever-evolving world
                                    of online retail, a strategic and seamless e-commerce experience is paramount.
                                    Discover how our tailored <strong>Ecommerce Support</strong> services can elevate
                                    your brand and drive unparalleled growth:</p>

                                <p><strong>1. Strategic Product Content Creation:</strong></p>
                                <p> Our team excels in crafting
                                    compelling product descriptions, visually engaging images, and persuasive content
                                    that not only showcases your products but also entices customers to make informed
                                    purchasing decisions.</p>

                                <p><strong>2. Ecommerce Platform Optimization:</strong></p>
                                <p>Maximize the potential of your
                                    chosen e-commerce platform. We specialize in optimizing platforms such as Shopify,
                                    WooCommerce, and Magento, ensuring a seamless and user-friendly online shopping
                                    experience for your customers.</p>

                                <p><strong>3. Search Engine Optimization (SEO) for Ecommerce:</strong></p>
                                <p>Boost your
                                    product visibility on search engines with our tailored SEO strategies. We optimize
                                    product listings, implement relevant keywords, and enhance your online store's
                                    overall SEO performance to attract organic traffic and increase conversions.</p>

                                <p><strong>4. Conversion Rate Optimization (CRO):</strong></p>
                                <p> Turn visitors into customers
                                    with our CRO techniques. We analyze user behavior, streamline the purchasing
                                    process, and implement strategies to increase conversion rates, ultimately
                                    maximizing your e-commerce success.</p>

                                <p><strong>5. Social Media Integration:</strong></p>
                                <p>Leverage the power of social media to
                                    drive e-commerce sales. We seamlessly integrate your products across various social
                                    platforms, creating a cohesive online shopping experience and expanding your brand's
                                    reach.</p>

                                <p><strong>6. Ecommerce Analytics and Reporting:</strong></p>
                                <p> Gain valuable insights into
                                    your e-commerce performance. Our analytics and reporting services provide a
                                    comprehensive overview of customer behavior, allowing you to make data-driven
                                    decisions to further enhance your e-commerce strategy.</p>

                                <p><strong>7. Customer Engagement Strategies:</strong></p>
                                <p> Foster lasting connections with
                                    your customers through personalized engagement strategies. From email campaigns to
                                    loyalty programs, we implement tactics that keep your brand top-of-mind and
                                    encourage repeat business.</p>

                                <p>At <strong>BrandXPT</strong>, our <strong>Ecommerce Support</strong> services go
                                    beyond transactions; we focus on building a dynamic and sustainable online shopping
                                    ecosystem for your brand. Partner with us to elevate your e-commerce presence,
                                    captivate your audience, and unlock the full potential of your online store.
                                    Experience the difference with <strong>BrandXPT</strong>, where innovation meets
                                    e-commerce excellence.</p>


                            </div>
                            <!-- end post-content -->
                        </div>
                        <!-- end post -->
                    </div>
                    <!-- end col-10 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end news -->
        {% include 'footer.html' %}
    </main>
{% endblock %}