{% extends 'base.html' %}
{% load static %}

{% block body %}
    <header class="page-header">
        <div class="video-bg">
            <video src="https://sheltersearch.b-cdn.net/video.mp4" autoplay muted loop></video>
        </div>
        <!-- end video-bg -->
        <div class="inner">
            <h2 data-text="ECOMMERCE SUPPORT">ECOMMERCE SUPPORT</h2>
            <p>A Wonderful Shopping Experience Online
                Always Brings Back The User</p>
        </div>
        <!-- end inner -->
        <ul class="social-media">
            <li><a href="https://www.facebook.com/brandxpt/"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/brandxpt/"><i class="fa fa-instagram"></i></a></li>
        </ul>
        <div class="scroll-down"><b>SCROLL DOWN</b><span></span></div>
        <!-- end scroll-down -->
    </header>
    <!-- end page-header -->
    <div class="page-header-spacing"></div>
    <!-- end page-header-spacing -->
    <main>
        <section class="news">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10">
                        <div class="post post-single wow fadeIn">
                            <figure class="post-image"><img src="{% static 'assets/images/digital_solutions.webp' %}"
                                                            alt="Image">
                            </figure>
                            <div class="post-content">
                                {#         	<div class="author">#}
                                {#          	<img src="{% static 'assets/images/avatar01.jpg' %}" alt="Image">#}
                                {#          	<span>by <b>Jack Daniels</b></span>#}
                                {#          </div>#}
                                <!-- end author -->
                                {#         		<ul class="post-categories">#}
                                {#         		<li><a href="#">Development</a></li>#}
                                {#         		<li><a href="#">WordPress</a></li>#}
                                {#         		<li><a href="#">Design</a></li>#}
                                {#         		</ul>#}
                                <h2 class="post-title">Your Gateway to an elevated Digital Presence!</h2>
                                {#          <small class="post-date">February 21,2018</small>#}
                                <ul class="social-share">
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    {#			<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>#}
                                    <li class="google-plus"><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    {#			<li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>#}
                                    {#			<li class="youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
                                </ul>

                                <p style="color: black;" class="text-center">Selecting the right e-commerce platform,
                                    simplifying processes, doing a complete systems integration, providing engaging
                                    customer experiences and driving conversions, can be an overwhelming experience.
                                    This is not an aspect of your business where you can afford to go wrong. We focus on
                                    creating beautiful, conversion optimized e-commerce solutions that help brands tell
                                    their story, engage with their customers and increase sales.</p>
                                <p style="color: black;" class="text-center">Struggling to grow your business online? Talk to our team today about how we can
                                    drive the right traffic, increase sales, create a holistic user experience and
                                    increase loyalty for your E-Commerce Website.</p>

                                <p style="color: black;" class="text-center">At <strong>BrandXPT</strong>, our <strong>Ecommerce Support</strong> services go
                                    beyond transactions; we focus on building a dynamic and sustainable online shopping
                                    ecosystem for your brand. Partner with us to elevate your e-commerce presence,
                                    captivate your audience, and unlock the full potential of your online store.
                                    Experience the difference with <strong>BrandXPT</strong>, where innovation meets
                                    e-commerce excellence.</p>


                            </div>
                            <!-- end post-content -->
                        </div>
                        <!-- end post -->
                    </div>
                    <!-- end col-10 -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end news -->
        {% include 'footer.html' %}
    </main>
{% endblock %}