{% load static %}

<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#33a16e"/>
<title>BrandXPT | Content Creation Company</title>
<meta name="author" content="Srivardhan">
<meta name="description" content="BrandXPT | Content Creation Company">
<meta name="keywords" content="creative, works, showcase, portfolio, highlight, projects, parallax, agency, digital, studio, css, animation, transition, svg, html, css">

<!-- SOCIAL MEDIA META -->
<meta property="og:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
<meta property="og:image" content="http://www.themezinho.net/unicord/preview.png' %}">
<meta property="og:site_name" content="unicord">
<meta property="og:title" content="Unicord">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.themezinho.net/unicord">

<!-- TWITTER META -->
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@unicord">
<meta name="twitter:creator" content="@unicord">
<meta name="twitter:title" content="unicord">
<meta name="twitter:description" content="Unicord | Creative Portfolio for Freelancers & Agencies">
<meta name="twitter:image" content="http://www.themezinho.net/unicord/preview.png' %}">

<!-- FAVICON FILES -->
<link href="{% static 'assets/images/logo-brandxpt.png' %}" rel="apple-touch-icon" sizes="144x144">
<link href="{% static 'assets/images/logo-brandxpt.png' %}" rel="apple-touch-icon" sizes="114x114">
<link href="{% static 'assets/images/logo-brandxpt.png' %}" rel="apple-touch-icon" sizes="72x72">
<link href="{% static 'assets/images/logo-brandxpt.png' %}" rel="apple-touch-icon">
<link href="{% static 'assets/images/logo-brandxpt.png' %}" rel="shortcut icon">

<!-- CSS FILES -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
</head>
<body>
<div class="preloader">
  <div class="inner">
    <div class="loader">
      <div class="trackbar">
        <div class="loadbar"></div>
      </div>
    </div>
    <!-- end loader -->
    <div class="holder"> <span class="typewriter" id="typewriter"></span> </div>
    <!-- end holder -->
  </div>
  <!-- end inner -->
</div>
<!-- end preloader -->
<div class="transition-overlay">
  <div class="green-layer"></div>
  <div class="black-layer"></div>
</div>
<!-- end transition-overlay -->

{% include 'navbar.html' %}

{% block body %}
{% endblock %}
<!-- end main -->


<!-- JS FILES -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/swiper.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.min.js' %}"></script>
<script src="{% static 'assets/js/tilt.jquery.js' %}"></script>
<script src="{% static 'assets/js/jquery.typewriter.js' %}"></script>
<script src='{% static 'assets/js/TweenMax.min.js' %}'></script>
<script src='{% static 'assets/js/imagesloaded.pkgd.min.js' %}'></script>
<script src='{% static 'assets/js/particles.min.js' %}'></script>
<script src='{% static 'assets/js/jquery.parallax.min.js' %}'></script>
<script src='{% static 'assets/js/motion.blur.js' %}'></script>
<script src="{% static 'assets/js/scripts.js' %}"></script>

</body>
</html>