{% load static %}

<footer class="footer">
    <div class="container wow fadeIn">
        <img src="{% static 'assets/images/logo-brandxpt.png' %}" alt="Image">
        <h2>Don't be shy and<br>
            talk to us?</h2>
        <h5>Say hello@brandxpt.com </h5>
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
{#            <li><a href="#"><i class="fa fa-behance"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>#}
{#            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>#}
        </ul>
        <span>© 2024 Brandxpt | All Rights Reserved</span></div>
    <!-- end container -->
</footer>